Checks: >
  -*,
  
  readability-*,
  -readability-avoid-unconditional-preprocessor-if,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-redundant-preprocessor,
  -readability-static-accessed-through-instance,

  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-redundant-branch-condition,
  -bugprone-switch-missing-default-case,
  -bugprone-unhandled-self-assignment,

  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-equals-delete,
  -modernize-use-nodiscard,
  -modernize-use-override,
  -modernize-use-trailing-return-type,